.slide-fade {
  animation-name: slide-fade;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
}

.progress-10s {
  animation-name: progress-animation;
  animation-duration: 9.9s;
  animation-timing-function: linear;
}

.progress-25s {
  animation-name: progress-animation;
  animation-duration: 24.9s;
  animation-timing-function: linear;
}

@keyframes slide-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes progress-animation {
  0% {
    transform: scaleX(0);
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /*Firefox*/
  /*Firefox*/
  scrollbar-width: thin;
  scrollbar-color: #5c636e #f7f7f7;
  /* Chrome, Edge, and Safari */
}

html::-webkit-scrollbar {
  width: 0.55vw;
}

html::-webkit-scrollbar-track {
  background: #f7f7f7;
}

html::-webkit-scrollbar-thumb {
  background-color: #5c636e;
}

body {
  background-color: #f7f7f7;
  color: #000;
}

img {
  font-size: 1rem;
}

::selection {
  background-color: #f8b500;
  color: #f7f7f7;
}

.t-header-1 {
  margin-bottom: 0.2rem;
  margin-right: -0.5rem;
  padding: 0 5rem;
  color: #1f1f1f;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.5rem;
  font-size: 7.5rem;
  font-weight: bolder;
  text-shadow: 0 0 1rem #f7f7f7, 0.2rem 0.2rem 2rem #f7f7f7;
}

.t-header-1::after {
  width: 98%;
  height: 3px;
  margin-top: -0.2rem;
  box-shadow: 0 0 1rem #f7f7f7;
  content: "";
  display: block;
  background-color: #f8b500;
}

.t-header-2 {
  color: #1f1f1f;
  margin-right: -1.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  font-weight: 400;
  text-shadow: 0 0 1rem #f7f7f7, 0.2rem 0.2rem 2rem #f7f7f7;
}

.t-header-3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.t-header-4 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-tiny {
  margin-top: 0.5rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium-small {
  margin-top: 2.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium-small {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-unselectable {
  user-select: none !important;
}

.u-slide-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.u-slide-display {
  opacity: 1 !important;
  visibility: visible !important;
}

.u-slide-display--block {
  display: block !important;
}

.u-slide-display--grid {
  display: grid !important;
}

.btn:link, .btn:visited {
  padding: 1rem 2rem;
  border: 1px solid #f8b500;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: transparent;
  color: #f8b500;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}

.btn:hover {
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  background-color: #f8b500;
  color: #fff;
  transform: translateY(-0.2rem);
}

.btn:active {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transform: translateY(0rem);
}

.btn-text:link, .btn-text:visited {
  padding: 0.3rem 1.5rem;
  border-bottom: 1px solid #f8b500;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-text:hover {
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  background-color: #f8b500;
  color: #fff;
  transform: translateY(-0.2rem);
}

.btn-text:active {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transform: translateY(0rem);
}

.btn-plain:link, .btn-plain:visited {
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid #f8b500;
  border-radius: 0.1rem;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-plain:hover, .btn-plain:active {
  color: #f8b500;
}

.c-gallery {
  display: grid;
  width: 100%;
}

.c-gallery__flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.pagination {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  list-style: none;
}

.pagination--custom {
  column-gap: 0;
  width: 100%;
  justify-content: flex-end;
}

.pagination__link-container {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin: 0 1.5rem;
  list-style: none;
}

.pagination__link {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.2s;
}

.pagination__link:hover, .pagination__link:active {
  background-color: #f8b500;
}

.pagination__link--active {
  background-color: #f8b500;
}

.pagination__arrow {
  align-self: stretch;
  padding: 0 1rem;
  margin-top: -0.25%;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.2s;
}

.pagination__arrow:hover, .pagination__arrow:active {
  color: #f8b500;
}

.pagination__goto {
  align-self: stretch;
  width: 6rem;
  background: none;
  border: 1px solid #4d525c;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  appearance: textfield;
  color: inherit;
  font-family: inherit;
  text-align: center;
}

.pagination__goto:focus {
  outline: none;
}

.pagination__btn {
  align-self: stretch;
  padding: 1rem;
  border: none;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  background-color: #4d525c;
  cursor: pointer;
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.c-search-bar {
  display: flex;
  align-items: center;
}

.c-search-bar__input {
  width: 30rem;
  padding: 0.8rem 2rem;
  margin-right: -3.25rem;
  background-color: #5c636e;
  border: none;
  border-radius: 10rem;
  color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  transition: all 0.2s;
}

.c-search-bar__input:focus {
  outline: none;
  background-color: #4d525c;
}

.c-search-bar__input::-webkit-input-placeholder {
  color: #f7f7f7;
  font-weight: 100;
}

.c-search-bar__input::-moz-placeholder {
  opacity: 1;
  color: #f7f7f7;
  font-weight: 100;
}

.c-search-bar__button {
  border: none;
  fill: #f7f7f7;
  background-color: transparent;
}

.c-search-bar__button:focus {
  outline: none;
}

.c-search-bar__button:active {
  transform: translateY(1px);
}

.c-search-bar__icon {
  height: 1.8rem;
  width: 1.8rem;
}

.about__title {
  display: inline-block;
  width: 12%;
}

.about__title::after {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  content: "";
  display: block;
  background-color: #f8b500;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}

.about__texts {
  flex: 1 1 60%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: justify;
  line-height: 3rem;
}

.about__text {
  font-size: 1.8rem;
}

.about__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about__end {
  font-size: 1.5rem;
  font-weight: 500;
}

.about__picture {
  flex: 0 0 25%;
  width: 100%;
  box-shadow: 0 0 0.5rem #f8b500;
}

.art__title {
  display: inline-block;
  width: 16%;
  margin: 0 auto;
}

.art__title::after {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  content: "";
  display: block;
  background-color: #f8b500;
}

.art__search {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-bottom: 1rem;
}

.art__showcase {
  grid-template-columns: repeat(3, 1fr);
  gap: 1%;
  padding: 0 0.5%;
  background-color: #2a2d33;
}

.art__content {
  gap: 1%;
  height: 200vh;
  width: 100%;
}

.art__nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  width: 90%;
  margin: 2rem 0 2rem 0;
}

.art__blog {
  justify-self: flex-start;
}

.client h4 {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 3rem;
  align-items: center;
  width: 100%;
}

.client h4::before {
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  background-color: #f8b500;
}

.client h4::after {
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  background-color: #f8b500;
}

.client__companies {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "c01 c02 c03 c04 c05 c06 c07 c08";
  justify-content: space-around;
  justify-items: center;
  align-content: space-around;
  align-items: center;
  gap: 2%;
  width: 100%;
}

.client__company {
  max-height: 2.5rem;
  max-width: 100%;
}

.client__company--bbc {
  grid-area: c06;
}

.client__company--bi {
  grid-area: c04;
}

.client__company--forbes {
  grid-area: c05;
}

.client__company--techcrunch {
  grid-area: c03;
}

.client__message-container {
  display: flex;
  align-items: center;
  column-gap: 6rem;
  width: 100%;
  height: 13rem;
  margin: 8rem 8rem 0 8rem;
}

.client__message-arrow {
  padding: 0 1.5rem;
  margin-top: -2%;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.client__message-arrow:hover, .client__message-arrow:active {
  color: #f8b500;
}

.client__messages {
  flex: 1;
  align-self: flex-start;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 13rem;
}

.client__message {
  display: flex;
  position: absolute;
  top: 0;
  left: 125%;
  width: inherit;
  opacity: 0;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all 1.5s;
}

.client__message--active {
  opacity: 1;
  left: 0;
}

.client__message--slided {
  opacity: 0;
  left: -125%;
}

.client__quote {
  font-size: 1.8rem;
  font-style: italic;
}

.client__quote p::before {
  content: '" ';
  font-size: 2rem;
}

.client__quote p::after {
  content: ' "';
  font-size: 2rem;
}

.client__name {
  display: inline-block;
  margin: 3rem 0 0 0;
  font-size: 2rem;
  font-weight: 400;
}

.client__name span {
  display: block;
  margin-top: 0.3rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.contact__title {
  display: inline-block;
  width: 15%;
  margin: 0 auto;
}

.contact__title::after {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  content: "";
  display: block;
  background-color: #f8b500;
}

.contact__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  row-gap: 4.5rem;
}

.contact__business {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.contact__social {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  padding: 0 3rem;
  border-left: 2px solid #f8b500;
}

.contact__items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
}

.contact__items:not(:last-child) {
  margin-bottom: 1rem;
}

.contact__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #393e46;
  transition: fill 0.2s;
}

.contact__profile {
  order: 1;
  padding: 0.4rem 1rem;
  border: 1px solid #f8b500;
  border-radius: 10rem;
  opacity: 0;
  visibility: hidden;
  color: #f8b500;
  text-shadow: 0 0 0.1rem #6b7480;
  font-size: 1.4rem;
  transition: all 0.2s;
}

.contact__ilink {
  order: 3;
}

.contact__name {
  order: 2;
}

.contact__name:link, .contact__name:visited {
  display: inline-block;
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color 0.2s;
}

.contact__name:hover, .contact__name:active {
  color: #2a2d33;
}

.contact__name:hover ~ .contact__profile,
.contact__ilink:hover ~ .contact__profile {
  opacity: 1;
  visibility: visible;
}

.contact__name:hover ~ .contact__ilink .contact__icon,
.contact__ilink:hover .contact__icon {
  fill: #f8b500;
}

.contact__name:hover ~ .contact__ilink .contact__icon--artstation,
.contact__ilink:hover .contact__icon--artstation {
  fill: #13aff0;
}

.contact__name:hover ~ .contact__ilink .contact__icon--instagram,
.contact__ilink:hover .contact__icon--instagram {
  fill: #e4405f;
}

.contact__name:hover ~ .contact__ilink .contact__icon--twitter,
.contact__ilink:hover .contact__icon--twitter {
  fill: #1da1f2;
}

.contact__name:hover ~ .contact__ilink .contact__icon--facebook,
.contact__ilink:hover .contact__icon--facebook {
  fill: #1877f2;
}

.contact__name:hover ~ .contact__ilink .contact__icon--youtube,
.contact__ilink:hover .contact__icon--youtube {
  fill: #f00;
}

.contact__name:hover ~ .contact__ilink .contact__icon--twitch,
.contact__ilink:hover .contact__icon--twitch {
  fill: #6441a4;
}

.contact__name:hover ~ .contact__ilink .contact__icon--linkedin,
.contact__ilink:hover .contact__icon--linkedin {
  fill: #0077b5;
}

.contact__more {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 10rem;
  margin: 0 5rem;
  row-gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

.contact__more-text {
  display: inline-block;
  padding: 0 1.5rem 1rem 1.5rem;
  border-bottom: 1px solid #f8b500;
  color: #1f1f1f;
  font-size: 1.5rem;
}

.footer__nav {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  margin: 0 1.5rem;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.2s;
}

.footer__link:hover, .footer__link:active {
  color: #f8b500;
}

.copyright {
  font-size: 1.4rem;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.4rem;
  text-align: center;
}

.header__title {
  padding: 0.5rem;
  margin: 3.5rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 2.5rem 0;
  padding: 0 2rem;
}

.header__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header__link:link, .header__link:visited {
  display: inline-block;
  padding: 0.5rem;
  margin: 0 1rem;
  border-bottom: 2px solid transparent;
  overflow: hidden;
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.2s;
}

.header__link:hover, .header__link:active {
  border-bottom: 2px solid #f8b500;
}

.slider__container {
  position: relative;
}

.slider__container--img {
  width: 100%;
}

.slider__container--text {
  width: 50%;
}

.slider__img {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-in-out;
  z-index: 1;
}

.slider__img img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.slider__btn {
  position: absolute;
  top: 50%;
  padding: 1rem 2rem;
  border: none;
  background-color: rgba(92, 99, 110, 0.1);
  text-shadow: 0 0 0.2rem #393e46;
  cursor: pointer;
  color: #f8b500;
  font-size: 2rem;
  transform: translateY(-50%);
  transition: background-color 0.1s;
  z-index: 2;
}

.slider__btn--left {
  left: 0;
}

.slider__btn--right {
  right: 0;
}

.slider__btn:hover, .slider__btn:active {
  background-color: rgba(92, 99, 110, 0.15);
}

.slider__highlight {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #f7f7f7);
}

.slider__text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.2rem 1.6rem;
  opacity: 0;
  visibility: hidden;
  font-size: 1.5rem;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.slider__text::after {
  height: 2px;
  width: 4rem;
  margin-top: 0.5rem;
  transform: translateX(-1.5rem);
  content: "";
  display: block;
  background-color: #f8b500;
}

.slider__dots {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 1rem 0;
  transform: translateX(-50%);
}

.slider__dot {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 0.4rem;
  border: 1px solid #5c636e;
  border-radius: 50%;
  background-color: #393e46;
  transition: background-color 0.8s ease-in-out;
}

.slider__dot--active {
  background-color: #f8b500;
}

.nav {
  opacity: 0;
  visibility: hidden;
}

.nav__animation {
  width: 50%;
  border-bottom: 2px solid #393e46;
  transition: transform 0.5s ease-out;
}

.nav__animation--left {
  position: absolute;
  top: 0;
  left: -100%;
}

.nav__animation--right {
  position: absolute;
  top: 0;
  right: -100%;
}

.service__title {
  display: inline-block;
  width: 16%;
  margin: 0 auto;
}

.service__title::after {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  content: "";
  display: block;
  background-color: #f8b500;
}

.service__content {
  display: grid;
  column-gap: 5rem;
  grid-template-columns: max-content minmax(20%, 1fr) 1fr;
  justify-content: space-between;
  align-items: center;
}

.service__designs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding: 0 2rem;
  list-style: none;
  border-left: 2px solid #6b7480;
}

.service__design {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s;
}

.service__design--active {
  color: #f8b500;
}

.service__texts {
  flex: 1 0 35%;
}

.service__text {
  display: none;
  padding-right: 2rem;
  border-right: 2px solid #6b7480;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: right;
}

.service__composition {
  box-shadow: inset 0 0 10rem #6b7480, 0 0 1.5rem #6b7480;
}

.service__images {
  display: none;
  grid-template-rows: repeat(5, 6rem);
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.service__images--environment {
  grid-template-areas: "g2 g2 g3 g3 g3" "g2 g2 g3 g3 g3" "g2 g2 g3 g3 g3" "g2 g2 g1 g1 g1" "g2 g2 g1 g1 g1";
}

.service__images--character {
  grid-template-areas: "g1 g1 g1 g2 g2" "g1 g1 g1 g2 g2" "g3 g3 g3 g2 g2" "g3 g3 g3 g2 g2" "g3 g3 g3 g2 g2";
}

.service__images--creature {
  grid-template-areas: "g3 g3 g3 g3 g3" "g3 g3 g3 g3 g3" "g1 g1 g2 g2 g2" "g1 g1 g2 g2 g2" "g1 g1 g2 g2 g2";
}

.service__images--vehicle {
  grid-template-areas: "g2 g2 g2 g1 g1" "g2 g2 g2 g1 g1" "g2 g2 g2 g1 g1" "g3 g3 g3 g3 g3" "g3 g3 g3 g3 g3";
}

.service__images--props {
  grid-template-areas: "g2 g2 g2 g3 g3" "g2 g2 g2 g3 g3" "g2 g2 g2 g3 g3" "g2 g2 g2 g3 g3" "g2 g2 g2 g1 g1";
}

.service__images:hover .service__image:not(:hover) {
  transform: scale(0.95);
  filter: brightness(0.9);
}

.service__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(0.95);
  transition: transform 0.2s, filter 0.2s;
}

.service__image:hover {
  transform: scale(1.05);
  filter: brightness(1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.service__image--env-1 {
  grid-area: g1;
  object-position: right;
}

.service__image--env-2 {
  grid-area: g2;
}

.service__image--env-3 {
  grid-area: g3;
  object-position: left;
}

.service__image--char-1 {
  grid-area: g1;
  object-position: top;
}

.service__image--char-2 {
  grid-area: g2;
  object-position: right;
}

.service__image--char-3 {
  grid-area: g3;
}

.service__image--cre-1 {
  grid-area: g1;
}

.service__image--cre-2 {
  grid-area: g2;
}

.service__image--cre-3 {
  grid-area: g3;
  object-position: top;
}

.service__image--vic-1 {
  grid-area: g1;
}

.service__image--vic-2 {
  grid-area: g2;
}

.service__image--vic-3 {
  grid-area: g3;
}

.service__image--props-1 {
  grid-area: g1;
}

.service__image--props-2 {
  grid-area: g2;
}

.service__image--props-3 {
  grid-area: g3;
}

.service__bar {
  grid-column: 1 / 2;
  width: 92.5%;
  background-color: #4d525c;
}

.service__progress {
  display: block;
  height: 2px;
  width: 100%;
  opacity: 0;
  background-color: #f8b500;
  transform-origin: left;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
}

.header {
  position: relative;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.about {
  padding: 8rem 13rem;
  margin-top: 6rem;
  font-family: "Montserrat", sans-serif;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  padding: 6rem 10rem 10rem 10rem;
  border: 2px solid #4d525c;
  border-bottom: none;
  background-color: #5c636e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.client {
  padding: 6rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  column-gap: 5rem;
  border: 2px solid #4d525c;
  border-top: none;
  background-color: #6b7480;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.art {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0 0 0;
  border-bottom: 2px solid #484f59;
  background-color: #393e46;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.contact {
  padding: 13rem 13rem 8rem 13rem;
  font-family: "Montserrat", sans-serif;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 3.5rem 2rem;
  gap: 3rem;
  border: 2px solid #4d525c;
  background-color: #5c636e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
