.slide-fade {
  animation-name: slide-fade;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.slide-fade-out {
  animation-name: slide-fade-out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

.progress-10s {
  animation-name: progress-animation;
  animation-duration: 10.4s;
  animation-timing-function: linear;
}

.progress-25s {
  animation-name: progress-animation;
  animation-duration: 25.4s;
  animation-timing-function: linear;
}

.open-popup {
  animation-name: open-popup;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

.open-overlay {
  animation-name: open-overlay;
  animation-duration: 0.2s;
  animation-timing-function: linear;
}

@keyframes slide-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes progress-animation {
  0% {
    transform: scaleX(0);
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes open-popup {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes open-overlay {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(42, 45, 51, 0.95);
  }
}

@keyframes shine {
  from {
    background-position: -3.5rem;
  }
  to {
    background-position: 30rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /*Firefox*/
  /*Firefox*/
  scrollbar-width: thin;
  scrollbar-color: #5c636e #f7f7f7;
  /* Chrome, Edge, and Safari */
}

html::-webkit-scrollbar {
  width: 0.55vw;
}

html::-webkit-scrollbar-track {
  background: #f7f7f7;
}

html::-webkit-scrollbar-thumb {
  background-color: #5c636e;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}

body {
  background-color: #f7f7f7;
  color: #000;
}

img {
  font-size: 1.2rem;
  object-fit: cover;
  object-position: center;
}

::selection {
  background-color: #f8b500;
  color: #f7f7f7;
}

.t-header-1 {
  margin-bottom: 0.2rem;
  margin-right: -0.5rem;
  padding: 0 5rem;
  color: #1f1f1f;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.5rem;
  font-size: 7.5rem;
  font-weight: bolder;
  text-shadow: 0 0 1rem #f7f7f7, 0.2rem 0.2rem 2rem #f7f7f7;
}

.t-header-1::after {
  width: 98%;
  height: 3px;
  margin-top: -0.2rem;
  box-shadow: 0 0 1rem #f7f7f7;
  content: "";
  display: block;
  background-color: #f8b500;
}

.t-header-2 {
  color: #1f1f1f;
  margin-right: -1.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  font-weight: 400;
  text-shadow: 0 0 1rem #f7f7f7, 0.2rem 0.2rem 2rem #f7f7f7;
}

.t-header-3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}

.t-header-4 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-top-tiny {
  margin-top: 0.5rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-margin-top-medium-small {
  margin-top: 2.5rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 0.5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium-small {
  margin-bottom: 2.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;
}

.u-unselectable {
  user-select: none !important;
}

.u-visible {
  opacity: 1 !important;
  visibility: visible !important;
}

.u-display {
  opacity: 1 !important;
  visibility: visible !important;
}

.u-display--block {
  display: block !important;
}

.u-display--grid {
  display: grid !important;
}

.btn:link, .btn:visited {
  padding: 1rem 2rem;
  border: 1px solid #f8b500;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: transparent;
  color: #f8b500;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}

.btn:hover {
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  background-color: #f8b500;
  color: #fff;
  transform: translateY(-0.2rem);
}

.btn:active {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transform: translateY(0rem);
}

.btn-text:link, .btn-text:visited {
  padding: 0.8rem 1.5rem;
  border-bottom: 1px solid #f8b500;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  line-height: normal;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-text:hover {
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
  background-color: #f8b500;
  color: #fff;
  transform: translateY(-0.2rem);
}

.btn-text:active {
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transform: translateY(0rem);
}

.btn-plain:link, .btn-plain:visited {
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid #f8b500;
  border-radius: 0.1rem;
  cursor: pointer;
  background-color: transparent;
  color: inherit;
  font-size: 0.9rem;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-plain:hover, .btn-plain:active {
  color: #f8b500;
}

.c-gallery {
  display: grid;
  width: 100%;
  align-items: center;
}

.c-gallery__flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.pagination {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  list-style: none;
}

.pagination--custom {
  column-gap: 0;
  width: 100%;
  justify-content: flex-end;
}

.pagination__link-container {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  margin: 0 1.5rem;
  list-style: none;
}

.pagination__link {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.2s;
}

.pagination__link:hover, .pagination__link:active {
  background-color: #f8b500;
}

.pagination__link--active {
  background-color: #f8b500;
}

.pagination__arrow {
  align-self: stretch;
  padding: 0 1rem;
  margin-top: -0.25%;
  border-radius: 0.2rem;
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.2s;
}

.pagination__arrow:hover, .pagination__arrow:active {
  color: #f8b500;
}

.pagination__goto {
  align-self: stretch;
  width: 6rem;
  background: none;
  border: 1px solid #4d525c;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  appearance: textfield;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
}

.pagination__goto:focus {
  outline: none;
}

.pagination__btn {
  align-self: stretch;
  padding: 1rem;
  border: none;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  background-color: #4d525c;
  cursor: pointer;
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  z-index: 10;
}

.popup--landscape {
  height: 80%;
  width: 60%;
}

@media only screen and (max-width: 37.5em) {
  .popup--landscape {
    height: 80%;
    width: 80%;
  }
}

.popup--potrait {
  height: 80%;
  width: 60%;
}

@media only screen and (max-width: 52.8125em) {
  .popup--potrait {
    height: 80%;
    width: 75%;
  }
}

@media only screen and (max-width: 37.5em) {
  .popup--potrait {
    height: 80%;
    width: 80%;
  }
}

.popup__content {
  display: grid;
  align-items: stretch;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 0.3rem;
  background-color: #f7f7f7;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2), 0 0 0.3rem #f8b500;
  transition: all 0.3s 0.1s;
}

.popup__content--landscape {
  grid-template-rows: 50% minmax(0, 100%);
  grid-template-columns: 100%;
}

@media only screen and (max-width: 34.375em) {
  .popup__content--landscape {
    grid-template-rows: minmax(0, 100%) min-content;
    grid-template-columns: 100%;
  }
}

.popup__content--potrait {
  grid-template-columns: 50% minmax(min-content, 1fr);
  grid-template-rows: 100%;
}

@media only screen and (max-width: 34.375em) {
  .popup__content--potrait {
    grid-template-columns: 100%;
    grid-template-rows: minmax(0, 100%) min-content;
  }
}

.popup__image img {
  width: 100%;
  height: 100%;
}

.popup__description {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 5rem;
  margin: 1rem 0;
  width: 100%;
  overflow-y: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /*Firefox*/
  /*Firefox*/
  scrollbar-width: thin;
  scrollbar-color: #5c636e #f7f7f7;
  /* Chrome, Edge, and Safari */
}

.popup__description::-webkit-scrollbar {
  width: 0.55vw;
}

.popup__description::-webkit-scrollbar-track {
  background: #f7f7f7;
}

.popup__description::-webkit-scrollbar-thumb {
  background-color: #5c636e;
}

@media only screen and (max-width: 34.375em) {
  .popup__description {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 3rem;
    padding: 1rem 2rem;
    margin: 0;
  }
}

.popup__description h4 {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 2.5rem;
}

.popup__description h4::after {
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  background-color: #f8b500;
}

@media only screen and (max-width: 34.375em) {
  .popup__description h4 {
    flex: 1;
  }
}

.popup__properties {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 34.375em) {
  .popup__properties {
    display: none;
  }
}

.popup__text {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.5;
}

@media only screen and (max-width: 34.375em) {
  .popup__text {
    display: none;
  }
}

.popup__btn {
  align-self: flex-end;
  width: max-content;
  margin-top: auto;
  font-size: 1.4rem;
}

.popup__close {
  position: absolute;
  right: 1rem;
  top: 0;
  cursor: pointer;
  color: #f8b500;
  font-size: 3rem;
  text-shadow: 0 0 0.2rem #000;
}

.popup__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(42, 45, 51, 0.98);
  z-index: 9;
}

@supports (backdrop-filter: blur(0)) or (-webkit-backdrop-filter: blur(0)) {
  .popup__overlay {
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.c-search-bar {
  display: flex;
  align-items: center;
}

.c-search-bar__input {
  width: 30rem;
  padding: 0.8rem 2rem;
  margin-right: -3.25rem;
  background-color: #5c636e;
  border: none;
  border-radius: 10rem;
  color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  transition: all 0.2s;
}

.c-search-bar__input:focus {
  outline: none;
  background-color: #4d525c;
}

.c-search-bar__input::-webkit-input-placeholder {
  color: #f7f7f7;
  font-weight: 100;
}

.c-search-bar__input::-moz-placeholder {
  opacity: 1;
  color: #f7f7f7;
  font-weight: 100;
}

.c-search-bar__button {
  border: none;
  fill: #f7f7f7;
  background-color: transparent;
}

.c-search-bar__button:focus {
  outline: none;
}

.c-search-bar__button:active {
  transform: translateY(1px);
}

.c-search-bar__icon {
  height: 1.8rem;
  width: 1.8rem;
}

.about__title {
  display: inline-block;
  width: 13%;
}

@media only screen and (max-width: 62.5em) {
  .about__title {
    width: 17%;
  }
}

@media only screen and (max-width: 52.8125em) {
  .about__title {
    width: 25%;
  }
}

@media only screen and (max-width: 37.5em) {
  .about__title {
    width: 100%;
    text-align: center;
  }
}

.about__title::after {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  content: "";
  display: block;
  background-color: #f8b500;
}

.about__content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10rem;
}

@media only screen and (max-width: 75em) {
  .about__content {
    gap: 8rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .about__content {
    gap: 6rem;
  }
}

@media only screen and (max-width: 52.8125em) {
  .about__content {
    flex-direction: column-reverse;
    gap: 5rem;
  }
}

.about__texts {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: justify;
  line-height: 3rem;
}

.about__text {
  font-size: 1.8rem;
}

.about__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about__end {
  font-size: 1.5rem;
  font-weight: 500;
}

.about__picture {
  flex: 0 0 25%;
  box-shadow: 0 0 0.5rem #f8b500;
}

@media only screen and (max-width: 62.5em) {
  .about__picture {
    flex: 0 0 30%;
  }
}

@media only screen and (max-width: 52.8125em) {
  .about__picture {
    flex: 0 0 30vh;
    min-height: 0;
  }
}

.about__picture img {
  width: 100%;
  height: 100%;
  object-position: left;
}

.art__title {
  display: inline-block;
  width: 13%;
  margin: 0 auto;
}

@media only screen and (max-width: 62.5em) {
  .art__title {
    width: 16%;
  }
}

@media only screen and (max-width: 52.8125em) {
  .art__title {
    width: 23%;
  }
}

@media only screen and (max-width: 37.5em) {
  .art__title {
    width: 80%;
  }
}

.art__title::after {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  content: "";
  display: block;
  background-color: #f8b500;
}

.art__search {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 52.8125em) {
  .art__search {
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 52.8125em) {
  .art__search form {
    width: 100%;
  }
}

@media only screen and (max-width: 52.8125em) {
  .art__search input {
    width: 100%;
    border-radius: 0;
  }
}

.art__showcase {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  padding: 0 1rem;
  background-color: #2a2d33;
}

@media only screen and (max-width: 37.5em) {
  .art__showcase {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 28.125em) {
  .art__showcase {
    grid-template-columns: 1fr;
  }
}

.art__content {
  row-gap: 1rem;
  margin: 1rem 0;
}

@media only screen and (max-width: 37.5em) {
  .art__content:last-child {
    display: none;
  }
}

@media only screen and (max-width: 28.125em) {
  .art__content:not(:first-child) {
    display: none;
  }
}

.art__artwork {
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 0.2rem #f8b500;
  overflow: hidden;
}

.art__img {
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.art__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  margin: 0 0 0.5rem 1rem;
  border-bottom: 2px solid #f8b500;
  opacity: 0;
  visibility: hidden;
  color: #393e46;
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 0 0.2rem #f8b500, 0 0 0.5rem #f7f7f7, 0 0 0.5rem #f7f7f7, 0 0 0.5rem #f7f7f7;
  transition: all 0.25s;
}

@media only screen and (max-width: 52.8125em) {
  .art__caption {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .art__caption {
    font-size: 1.7rem;
  }
}

.art__highlight {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  box-shadow: inset 0 0 1rem #f8b500, inset 0 0 1rem #000, inset 0 -4rem 5rem -3rem #f7f7f7, inset 0 -4rem 5rem -3rem #000;
  transition: all 0.25s;
}

.art__artwork:hover .art__img {
  transform: scale(1.03);
}

.art__artwork:hover .art__highlight {
  opacity: 1;
  visibility: visible;
}

.art__artwork:hover .art__caption {
  opacity: 1;
  visibility: visible;
}

.art__nav {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 90%;
  margin: 2rem 0 2rem 0;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 37.5em) {
  .art__nav {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "n1 n1" "n2 n3";
    row-gap: 1rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .art__nav ul {
    grid-area: n1;
  }
}

@media only screen and (max-width: 37.5em) {
  .art__nav form {
    grid-area: n3;
    justify-self: end;
    width: auto;
  }
}

@media only screen and (max-width: 37.5em) {
  .art__nav form input {
    font-size: 1.3rem;
  }
}

.art__blog {
  justify-self: start;
}

@media only screen and (max-width: 37.5em) {
  .art__blog {
    grid-area: n2;
  }
}

.client h4 {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 3rem;
  align-items: center;
  width: 100%;
}

.client h4::before {
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  background-color: #f8b500;
}

.client h4::after {
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  background-color: #f8b500;
}

.client__companies {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "c01 c02 c03 c04 c05 c06 c07 c08";
  justify-content: space-around;
  justify-items: center;
  align-content: space-around;
  align-items: center;
  column-gap: 2%;
  width: 100%;
}

@media only screen and (max-width: 52.8125em) {
  .client__companies {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: "c03 c04 c05 c06" "c01 c02 c07 c08";
  }
}

@media only screen and (max-width: 25em) {
  .client__companies {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: "c04 c05" "c03 c06";
    row-gap: 5rem;
  }
}

.client__company {
  max-height: 2.5rem;
  max-width: 100%;
}

.client__company--bbc {
  grid-area: c06;
}

.client__company--bi {
  grid-area: c04;
}

.client__company--forbes {
  grid-area: c05;
}

.client__company--techcrunch {
  grid-area: c03;
}

.client__message-container {
  display: flex;
  align-items: center;
  column-gap: 6rem;
  width: 100%;
  margin: 5rem 8rem 0 8rem;
}

@media only screen and (max-width: 75em) {
  .client__message-container {
    margin: 4rem 8rem 0 8rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .client__message-container {
    margin: 3rem 8rem 0 8rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .client__message-container {
    margin: 1rem 8rem 0 8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .client__message-container {
    margin: 1rem 3rem 0 3rem;
    column-gap: 2rem;
  }
}

@media only screen and (max-width: 25em) {
  .client__message-container {
    margin: 1rem 0 0 0;
  }
}

.client__message-arrow {
  padding: 0 1.5rem;
  margin-top: -2%;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.client__message-arrow:hover, .client__message-arrow:active {
  color: #f8b500;
}

@media only screen and (max-width: 52.8125em) {
  .client__message-arrow {
    margin-top: 0;
  }
}

.client__messages {
  flex: 1;
  align-self: flex-start;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 14rem;
}

@media only screen and (max-width: 62.5em) {
  .client__messages {
    height: 17rem;
  }
}

@media only screen and (max-width: 52.8125em) {
  .client__messages {
    height: 19rem;
  }
}

@media only screen and (max-width: 25em) {
  .client__messages {
    height: 21.5rem;
  }
}

.client__message {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 125%;
  width: inherit;
  opacity: 0;
  text-align: center;
  transition: all 1s ease-out;
}

@media only screen and (max-width: 62.5em) {
  .client__message {
    height: 17rem;
  }
}

@media only screen and (max-width: 52.8125em) {
  .client__message {
    height: 19rem;
  }
}

@media only screen and (max-width: 25em) {
  .client__message {
    height: 21.5rem;
  }
}

.client__message--active {
  opacity: 1;
  left: 0;
}

.client__message--slided {
  opacity: 0;
  left: -125%;
}

.client__quote {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
  text-shadow: 0 0 1rem #5c636e, 0 0 0.1rem #484f59;
}

@media only screen and (max-width: 62.5em) {
  .client__quote {
    margin-top: auto;
  }
}

@media only screen and (max-width: 52.8125em) {
  .client__quote {
    font-size: 1.6rem;
  }
}

.client__quote p::before {
  content: '" ';
  font-size: 2rem;
}

.client__quote p::after {
  content: ' "';
  font-size: 2rem;
}

.client__name {
  display: inline-block;
  margin: 3rem 0 0 0;
  font-size: 1.6rem;
  font-weight: 500;
  font-style: normal;
}

.client__name span {
  display: block;
  margin-top: 0.3rem;
  font-size: 1.4rem;
  font-weight: 600;
}

.contact__title {
  display: inline-block;
  width: 16%;
  margin: 0 auto;
}

@media only screen and (max-width: 62.5em) {
  .contact__title {
    width: 20%;
  }
}

@media only screen and (max-width: 52.8125em) {
  .contact__title {
    width: 30%;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact__title {
    width: 100%;
    text-align: center;
  }
}

.contact__title::after {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  content: "";
  display: block;
  background-color: #f8b500;
}

.contact__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  row-gap: 4.5rem;
  column-gap: 10rem;
}

@media only screen and (max-width: 62.5em) {
  .contact__content {
    column-gap: 4rem;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 52.8125em) {
  .contact__content {
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
    margin: 0;
  }
}

@media only screen and (max-width: 43.75em) {
  .contact__content {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }
}

.contact__business {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.contact__business .contact__items:not(:last-child) {
  margin-bottom: 0.5rem;
}

.contact__social {
  row-gap: 1rem;
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  border-left: 2px solid #f8b500;
}

@media only screen and (max-width: 52.8125em) {
  .contact__social {
    padding-right: 0;
  }
}

@media only screen and (max-width: 43.75em) {
  .contact__social {
    grid-column: 1;
    grid-row: 3;
    grid-template-columns: 1fr;
    flex-direction: row;
    padding: 0;
    margin-top: 3rem;
    border-left: none;
  }
}

@media only screen and (max-width: 43.75em) {
  .contact__social .contact__name {
    display: none;
  }
}

.contact__items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
}

@media only screen and (max-width: 43.75em) {
  .contact__items {
    margin: 0 auto;
  }
}

.contact__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #393e46;
  transition: fill 0.2s;
}

.contact__profile:link, .contact__profile:visited {
  order: 1;
  padding: 0.4rem 1rem;
  border: 1px solid #f8b500;
  border-radius: 10rem;
  opacity: 0;
  visibility: hidden;
  color: #f8b500;
  text-shadow: 0 0 0.1rem #6b7480;
  text-decoration: none;
  font-size: 1.4rem;
  transition: all 0.2s;
}

.contact__profile:hover, .contact__profile:active {
  background-color: #f8b500;
  color: #f7f7f7;
}

@media only screen and (max-width: 52.8125em) {
  .contact__profile:link, .contact__profile:visited {
    display: none;
  }
}

.contact__ilink {
  order: 3;
}

@media only screen and (max-width: 43.75em) {
  .contact__ilink {
    display: inline-block;
  }
}

.contact__name {
  order: 2;
  display: inline-block;
}

.contact__name:link, .contact__name:visited {
  color: #000;
  font-size: 1.4rem;
  text-decoration: none;
  transition: color 0.2s;
}

.contact__name:hover, .contact__name:active {
  color: #2a2d33;
}

.contact__name:hover ~ .contact__profile,
.contact__ilink:hover ~ .contact__profile {
  opacity: 1;
  visibility: visible;
}

.contact__name:hover ~ .contact__ilink .contact__icon,
.contact__ilink:hover .contact__icon {
  fill: #f8b500;
}

.contact__name:hover ~ .contact__ilink .contact__icon--artstation,
.contact__ilink:hover .contact__icon--artstation {
  fill: #13aff0;
}

.contact__name:hover ~ .contact__ilink .contact__icon--instagram,
.contact__ilink:hover .contact__icon--instagram {
  fill: #e4405f;
}

.contact__name:hover ~ .contact__ilink .contact__icon--twitter,
.contact__ilink:hover .contact__icon--twitter {
  fill: #1da1f2;
}

.contact__name:hover ~ .contact__ilink .contact__icon--facebook,
.contact__ilink:hover .contact__icon--facebook {
  fill: #1877f2;
}

.contact__name:hover ~ .contact__ilink .contact__icon--youtube,
.contact__ilink:hover .contact__icon--youtube {
  fill: #f00;
}

.contact__name:hover ~ .contact__ilink .contact__icon--twitch,
.contact__ilink:hover .contact__icon--twitch {
  fill: #6441a4;
}

.contact__name:hover ~ .contact__ilink .contact__icon--linkedin,
.contact__ilink:hover .contact__icon--linkedin {
  fill: #0077b5;
}

.contact__more {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  column-gap: 8rem;
  margin: 0 5rem;
  row-gap: 1.5rem;
  justify-items: center;
  align-items: end;
}

@media only screen and (max-width: 62.5em) {
  .contact__more {
    column-gap: 4rem;
    margin: 0 3rem;
  }
}

@media only screen and (max-width: 52.8125em) {
  .contact__more {
    justify-content: space-around;
    column-gap: 3rem;
    row-gap: 1rem;
    margin: 0;
  }
}

@media only screen and (max-width: 43.75em) {
  .contact__more {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact__more {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin: 0 2rem;
  }
}

.contact__more-text {
  display: inline-block;
  padding: 0 1.5rem 1rem 1.5rem;
  border-bottom: 1px solid #f8b500;
  color: #1f1f1f;
  font-size: 1.4rem;
  text-align: center;
}

@media only screen and (max-width: 52.8125em) {
  .contact__more-text {
    padding: 0 0 0.3rem 0;
  }
}

@media only screen and (max-width: 43.75em) {
  .contact__more-text {
    padding: 0 0 0.3rem 0;
  }
}

.contact__btn--deck {
  text-align: center;
}

@media only screen and (max-width: 43.75em) {
  .contact__btn--career {
    align-self: flex-start;
  }
}

.footer__nav {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__link:link, .footer__link:visited {
  display: inline-block;
  margin: 0 1.5rem;
  color: #fff;
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.2s;
}

.footer__link:hover, .footer__link:active {
  color: #f8b500;
}

@media only screen and (max-width: 37.5em) {
  .footer__link:link, .footer__link:visited {
    margin: 0 2rem;
  }
}

.copyright {
  font-size: 1.4rem;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.4rem;
  text-align: center;
}

.header__title {
  padding: 0.5rem;
  margin: 3.5rem;
}

@media only screen and (max-width: 37.5em) {
  .header__title {
    margin: 7.5rem 0;
    padding: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__title h1 {
    padding: 0;
    margin: 0;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
}

@media only screen and (max-width: 43.75em) {
  .header__nav {
    padding: 5rem 2rem 1rem 2rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .header__nav ul {
    width: 100%;
    justify-content: space-around;
  }
}

.header__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.header__link:link, .header__link:visited {
  display: inline-block;
  padding: 0.5rem;
  margin: 0 1rem;
  border-bottom: 2px solid transparent;
  overflow: hidden;
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.2s;
}

.header__link:hover, .header__link:active {
  border-bottom: 2px solid #f8b500;
}

@media only screen and (max-width: 52.8125em) {
  .header__link:link, .header__link:visited {
    letter-spacing: 0.25rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .header__link:link, .header__link:visited {
    margin: 0 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__link:link, .header__link:visited {
    margin: 0 auto;
  }
}

.slider__container {
  position: relative;
}

.slider__container--img {
  width: 100%;
}

.slider__container--text {
  width: 50%;
}

@media only screen and (max-width: 43.75em) {
  .slider__container--text {
    display: none;
  }
}

.slider__img {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: all 1s ease-in-out;
  z-index: 1;
}

.slider__img img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

.slider__btn {
  position: absolute;
  top: 50%;
  padding: 1rem 2rem;
  border: none;
  background-color: rgba(92, 99, 110, 0.1);
  text-shadow: 0 0 0.2rem #393e46;
  cursor: pointer;
  color: #f8b500;
  font-size: 2rem;
  transform: translateY(-50%);
  transition: background-color 0.1s;
  z-index: 2;
}

.slider__btn--left {
  left: 0;
}

.slider__btn--right {
  right: 0;
}

.slider__btn:hover, .slider__btn:active {
  background-color: rgba(92, 99, 110, 0.15);
}

.slider__highlight {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #f7f7f7);
}

.slider__text {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.2rem 1.6rem;
  opacity: 0;
  visibility: hidden;
  font-size: 1.5rem;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.slider__text::after {
  height: 2px;
  width: 4rem;
  margin-top: 0.5rem;
  transform: translateX(-1.5rem);
  content: "";
  display: block;
  background-color: #f8b500;
}

@media only screen and (max-width: 52.8125em) {
  .slider__text {
    font-size: 1.2rem;
    margin-top: 1%;
  }
}

.slider__dots {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 1rem 0;
  transform: translateX(-50%);
}

.slider__dot {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 0.4rem;
  border: 1px solid #5c636e;
  border-radius: 50%;
  background-color: #393e46;
  transition: background-color 0.8s ease-in-out;
}

.slider__dot--active {
  background-color: #f8b500;
}

.slider__hero--1 {
  object-position: left;
}

@media only screen and (max-width: 43.75em) {
  .slider__hero--1 {
    object-position: center;
  }
}

.nav {
  top: -8.5rem;
  z-index: 8;
  transition: all 0.1s;
}

.nav__title:link, .nav__title:visited {
  padding: 1.5rem 2rem;
  overflow: hidden;
  color: transparent;
  font-size: 1.5rem;
  text-decoration: none;
  background: linear-gradient(to right, #000 0, #f8b500 10%, #000 20%);
  background-position: -3.5rem;
  background-clip: text;
}

@supports (not (background-clip: text)) or (not (-webkit-background-clip: text)) {
  .nav__title:link, .nav__title:visited {
    background-image: none;
    color: #000;
  }
}

.nav__title:hover, .nav__title:active {
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 52.8125em) {
  .nav__title:link, .nav__title:visited {
    letter-spacing: 0.25rem;
    background-position: -3rem;
  }
  .nav__title:hover, .nav__title:active {
    animation: none;
  }
}

@media only screen and (max-width: 43.75em) {
  .nav__title:link, .nav__title:visited {
    display: none;
  }
}

.nav__logo {
  margin: 0 2rem;
  display: none;
}

@media only screen and (max-width: 43.75em) {
  .nav__logo--wide {
    display: block;
  }
}

@media only screen and (max-width: 37.5em) {
  .nav__logo--wide {
    display: none;
  }
}

.nav__logo--wide img {
  height: 4.6rem;
  width: auto;
}

@media only screen and (max-width: 37.5em) {
  .nav__logo--small {
    display: block;
  }
}

.nav__logo--small img {
  height: 5.372rem;
  width: auto;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

@media only screen and (max-width: 37.5em) {
  .nav__list {
    display: none;
  }
}

.nav__list--small {
  display: flex;
}

.nav__link:link, .nav__link:visited {
  padding: 1.3rem 0.5rem;
  margin: 0 1rem;
  border-bottom: 3px solid transparent;
  overflow: hidden;
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.2s;
}

.nav__link:hover, .nav__link:active {
  border-bottom: 3px solid #f8b500;
  box-shadow: inset 0 -2rem 4.5rem -4rem #f8b500;
}

@media only screen and (max-width: 52.8125em) {
  .nav__link:link, .nav__link:visited {
    letter-spacing: 0.25rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .nav__link:link, .nav__link:visited {
    margin: 0 0.6rem;
  }
}

.nav__btn {
  display: none;
  font-size: 3.5rem;
  padding: 0 1rem;
  cursor: pointer;
  letter-spacing: 0;
  color: #4d525c;
  font-family: "Barlow", sans-serif;
  transition: all 0.2s;
}

.nav__btn:hover {
  color: #f8b500;
}

@media only screen and (max-width: 37.5em) {
  .nav__btn {
    display: block;
  }
}

.nav__small {
  display: none;
  align-items: center;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  padding: 1.6rem 0.5rem;
  box-shadow: 0 0.1rem 0.5rem #484f59;
  background-image: url("../img/bg-nav-small.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: rgba(247, 247, 247, 0.97);
  opacity: 1;
  visibility: visible;
  font-family: "Barlow", sans-serif;
  transition: all 0.1s;
  z-index: 7;
}

@media only screen and (max-width: 37.5em) {
  .nav__small {
    display: block;
  }
}

.nav__small-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40%;
  margin: 15% 0;
  list-style: none;
}

.nav__small-item {
  width: 100%;
}

.nav__small-link:link, .nav__small-link:visited {
  display: block;
  padding: 1.3rem 0.8rem;
  margin: 0;
  overflow: hidden;
  color: #000;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
}

.nav__small-link:hover, .nav__small-link:active {
  color: #f8b500;
}

.sticky-nav {
  top: 0;
}

.nav-visible {
  right: 0;
}

.service__title {
  display: inline-block;
  width: 16%;
  margin: 0 auto;
}

@media only screen and (max-width: 62.5em) {
  .service__title {
    width: 21%;
  }
}

@media only screen and (max-width: 52.8125em) {
  .service__title {
    width: 30%;
  }
}

@media only screen and (max-width: 37.5em) {
  .service__title {
    width: 80%;
  }
}

.service__title::after {
  width: 100%;
  height: 2px;
  margin-top: 1rem;
  content: "";
  display: block;
  background-color: #f8b500;
}

.service__content {
  display: grid;
  column-gap: 5rem;
  grid-template-columns: max-content minmax(20%, 1fr) 1fr;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 52.8125em) {
  .service__content {
    grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .service__content {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }
}

.service__designs {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding: 0 2rem;
  list-style: none;
  border-left: 2px solid #6b7480;
}

@media only screen and (max-width: 52.8125em) {
  .service__designs {
    grid-column: 1 / span 2;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .service__designs {
    padding: 0;
    border-left: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .service__designs {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
}

@media only screen and (max-width: 28.125em) {
  .service__designs {
    flex-wrap: wrap;
  }
}

.service__design {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.5s;
}

@media only screen and (max-width: 52.8125em) {
  .service__design {
    flex: 1 0;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media only screen and (max-width: 43.75em) {
  .service__design {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 28.125em) {
  .service__design {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 23.75em) {
  .service__design {
    font-size: 1.6rem;
  }
}

.service__design--active {
  color: #f8b500;
}

@media only screen and (max-width: 52.8125em) {
  .service__texts {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
}

@media only screen and (max-width: 37.5em) {
  .service__texts {
    grid-row: 4 / span 1;
  }
}

.service__text {
  display: none;
  padding-right: 2rem;
  border-right: 2px solid #6b7480;
  font-size: 1.6rem;
  line-height: 3rem;
  text-align: right;
}

@media only screen and (max-width: 62.5em) {
  .service__text {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .service__text {
    padding-right: 0;
    border-right: none;
    text-align: justify;
  }
}

.service__composition {
  box-shadow: inset 0 0 10rem #6b7480, 0 0 1.5rem #6b7480;
}

@media only screen and (max-width: 52.8125em) {
  .service__composition {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
}

@media only screen and (max-width: 37.5em) {
  .service__composition {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
}

.service__images {
  display: none;
  grid-template-rows: repeat(5, 6rem);
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.service__images--environment {
  grid-template-areas: "g2 g2 g3 g3 g3" "g2 g2 g3 g3 g3" "g2 g2 g3 g3 g3" "g2 g2 g1 g1 g1" "g2 g2 g1 g1 g1";
}

.service__images--character {
  grid-template-areas: "g1 g1 g1 g2 g2" "g1 g1 g1 g2 g2" "g3 g3 g3 g2 g2" "g3 g3 g3 g2 g2" "g3 g3 g3 g2 g2";
}

@media only screen and (max-width: 37.5em) {
  .service__images--character {
    grid-template-areas: "g1 g1 g1 g2 g2" "g1 g1 g1 g2 g2" "g1 g1 g1 g2 g2" "g3 g3 g3 g2 g2" "g3 g3 g3 g2 g2";
  }
}

@media only screen and (max-width: 28.125em) {
  .service__images--character {
    grid-template-areas: "g1 g1 g1 g2 g2" "g1 g1 g1 g2 g2" "g3 g3 g3 g2 g2" "g3 g3 g3 g2 g2" "g3 g3 g3 g2 g2";
  }
}

.service__images--creature {
  grid-template-areas: "g3 g3 g3 g3 g3" "g3 g3 g3 g3 g3" "g1 g1 g2 g2 g2" "g1 g1 g2 g2 g2" "g1 g1 g2 g2 g2";
}

.service__images--vehicle {
  grid-template-areas: "g2 g2 g2 g1 g1" "g2 g2 g2 g1 g1" "g2 g2 g2 g1 g1" "g3 g3 g3 g3 g3" "g3 g3 g3 g3 g3";
}

.service__images--props {
  grid-template-areas: "g2 g2 g2 g3 g3" "g2 g2 g2 g3 g3" "g2 g2 g2 g3 g3" "g2 g2 g2 g3 g3" "g2 g2 g2 g1 g1";
}

.service__images:hover .service__image:not(:hover) {
  transform: scale(0.95);
  filter: brightness(0.9);
}

.service__image {
  width: 100%;
  height: 100%;
  filter: brightness(0.95);
  transition: transform 0.2s, filter 0.2s;
}

@media only screen and (hover: none) {
  .service__image:active {
    transform: scale(1.05);
    filter: brightness(1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
}

.service__image:hover {
  transform: scale(1.05);
  filter: brightness(1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.service__image--env-1 {
  grid-area: g1;
  object-position: right;
}

.service__image--env-2 {
  grid-area: g2;
}

.service__image--env-3 {
  grid-area: g3;
  object-position: left;
}

.service__image--char-1 {
  grid-area: g1;
  object-position: top;
}

.service__image--char-2 {
  grid-area: g2;
  object-position: right;
}

@media only screen and (max-width: 37.5em) {
  .service__image--char-2 {
    object-position: top right;
  }
}

@media only screen and (max-width: 28.125em) {
  .service__image--char-2 {
    object-position: right;
  }
}

.service__image--char-3 {
  grid-area: g3;
  object-position: top;
}

.service__image--cre-1 {
  grid-area: g1;
}

.service__image--cre-2 {
  grid-area: g2;
}

@media only screen and (max-width: 62.5em) {
  .service__image--cre-2 {
    object-position: left;
  }
}

.service__image--cre-3 {
  grid-area: g3;
  object-position: top;
}

.service__image--vic-1 {
  grid-area: g1;
}

.service__image--vic-2 {
  grid-area: g2;
}

.service__image--vic-3 {
  grid-area: g3;
}

.service__image--props-1 {
  grid-area: g1;
}

.service__image--props-2 {
  grid-area: g2;
  object-position: top;
}

.service__image--props-3 {
  grid-area: g3;
}

@media only screen and (max-width: 62.5em) {
  .service__image--props-3 {
    object-position: left;
  }
}

@media only screen and (max-width: 37.5em) {
  .service__image--props-3 {
    object-position: top left;
  }
}

@media only screen and (max-width: 28.125em) {
  .service__image--props-3 {
    object-position: left;
  }
}

.service__bar {
  grid-column: 1 / 2;
  width: 92.5%;
  background-color: #6b7480;
}

@media only screen and (max-width: 52.8125em) {
  .service__bar {
    grid-column: 1 / span 2;
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .service__bar {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
}

.service__progress {
  display: block;
  height: 2px;
  width: 100%;
  opacity: 0;
  background-color: #f8b500;
  transform-origin: left;
}

.container {
  display: grid;
  grid-template-rows: 100vh;
  justify-items: center;
}

.header {
  position: relative;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  box-shadow: 0 0.1rem 0.5rem #484f59;
  background-color: rgba(247, 247, 247, 0.97);
  letter-spacing: 0.4rem;
  font-family: "Montserrat", sans-serif;
}

.about {
  max-width: 190rem;
  padding: 9rem 13rem;
  background-image: url("../img/bg-about.png");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 75em) {
  .about {
    padding: 9rem 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .about {
    padding: 9rem 8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .about {
    padding: 9rem 3rem 5rem 3rem;
  }
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  padding: 9rem 10rem 10rem 10rem;
  border: 2px solid #4d525c;
  border-bottom: none;
  background-image: url("../img/bg-service.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #5c636e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 75em) {
  .service {
    padding: 9rem 8rem 10rem 8rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .service {
    padding: 9rem 6rem 10rem 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .service {
    padding: 9rem 3rem 10rem 3rem;
  }
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 6rem 10rem 8rem 10rem;
  border: 2px solid #4d525c;
  border-top: none;
  background-image: url("../img/bg-client.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #6b7480;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 75em) {
  .client {
    padding: 6rem 8rem 8rem 8rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .client {
    padding: 6rem 6rem 8rem 6rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .client {
    padding: 6rem 3rem 8rem 3rem;
  }
}

.art {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 0 0 0;
  border-bottom: 2px solid #484f59;
  background-image: url("../img/bg-art.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #393e46;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.contact {
  width: 100%;
  max-width: 190rem;
  padding: 13rem 13rem 8rem 13rem;
  background-image: url("../img/bg-contact.png");
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 75em) {
  .contact {
    padding: 13rem 10rem 8rem 10rem;
  }
}

@media only screen and (max-width: 62.5em) {
  .contact {
    padding: 13rem 8rem 8rem 8rem;
  }
}

@media only screen and (max-width: 52.8125em) {
  .contact {
    padding: 11rem 8rem 8rem 8rem;
  }
}

@media only screen and (max-width: 43.75em) {
  .contact {
    padding: 10rem 8rem 4rem 8rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .contact {
    padding: 10rem 3rem 4rem 3rem;
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem 3.5rem 2rem;
  gap: 3rem;
  border: 2px solid #4d525c;
  background-color: #5c636e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    flex-direction: column;
  }
}

.section-wrapper {
  width: 100%;
  max-width: 155rem;
}

.section-wrapper--client {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  column-gap: 5rem;
}

.section-wrapper--service {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
