@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pseudoLine {
  content: "";
  display: block;
  background-color: $color-quartenery;
}

// Responsive ---
@mixin resSmall {
  @media only screen and (max-width: 37.5em) {
    @content;
  } //600px
}

@mixin resMedium {
  @media only screen and (max-width: 56.25em) {
    @content;
  } //900px
}

@mixin resLarge {
  @media only screen and (max-width: 75em) {
    @content;
  } //1200px
}

@mixin resHuge {
  @media only screen and (min-width: 112.5em) {
    @content;
  } //1800
}
// --- Responsive
