// COLORS
$color-primary: #f7f7f7;
$color-quartenery: #f8b500;

$color-secondary: #393e46;
$color-secondary-dark: #2a2d33;
$color-secondary-light: #484f59;

$color-tertiary: #5c636e;
$color-tertiary-dark: #4d525c;
$color-tertiary-light: #6b7480;

$color-light-1: #fff;
$color-dark-1: #000;

$color-highlight: #1f1f1f;
$color-font-dark: #000;
$color-font-light: #fff;
