.client {
  h4 {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 3rem;
    align-items: center;
    width: 100%;

    &::before {
      height: 2px;
      width: 100%;

      @include pseudoLine;
    }

    &::after {
      height: 2px;
      width: 100%;

      @include pseudoLine;
    }
  }

  &__companies {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: "c01 c02 c03 c04 c05 c06 c07 c08";
    justify-content: space-around;
    justify-items: center;
    align-content: space-around;
    align-items: center;
    column-gap: 2%;
    width: 100%;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, max-content);
      grid-template-areas: "c03 c04 c05 c06" "c01 c02 c07 c08";
      // row-gap: 5rem;
    }

    @media only screen and (max-width: $bp-client-break) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, max-content);
      grid-template-areas: "c04 c05" "c03 c06";
      // grid-template-areas: "c04 c05" "c03 c06" "c01 c02" "c07 c08";
      row-gap: 5rem;
    }
  }

  &__company {
    max-height: 2.5rem;
    max-width: 100%;

    &--bbc {
      grid-area: c06;
    }

    &--bi {
      grid-area: c04;
    }

    &--forbes {
      grid-area: c05;
    }

    &--techcrunch {
      grid-area: c03;
    }
  }

  &__message-container {
    display: flex;
    align-items: center;
    column-gap: 6rem;
    width: 100%;
    margin: 5rem 8rem 0 8rem;

    @media only screen and (max-width: $bp-largest) {
      margin: 4rem 8rem 0 8rem;
    }

    @media only screen and (max-width: $bp-large) {
      margin: 3rem 8rem 0 8rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin: 1rem 8rem 0 8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin: 1rem 3rem 0 3rem;
      column-gap: 2rem;
    }

    @media only screen and (max-width: $bp-client-break) {
      margin: 1rem 0 0 0;
    }
  }

  &__message-arrow {
    padding: 0 1.5rem;
    margin-top: -2%;
    font-size: 3rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover,
    &:active {
      color: $color-quartenery;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-top: 0;
    }
  }

  &__messages {
    flex: 1;
    align-self: flex-start;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 14rem;

    @media only screen and (max-width: $bp-large) {
      height: 17rem;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 19rem;
    }

    @media only screen and (max-width: $bp-client-break) {
      height: 21.5rem;
    }
  }

  &__message {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 125%;
    width: inherit;
    opacity: 0;

    text-align: center;
    transition: all 1s ease-out;

    @media only screen and (max-width: $bp-large) {
      height: 17rem;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 19rem;
    }

    @media only screen and (max-width: $bp-client-break) {
      height: 21.5rem;
    }

    &--active {
      opacity: 1;
      left: 0;
    }

    &--slided {
      opacity: 0;
      left: -125%;
    }
  }

  &__quote {
    font-family: "Barlow", sans-serif;
    font-weight: 200;
    font-size: 2rem;
    font-style: italic;
    text-shadow: 0 0 1rem $color-tertiary, 0 0 0.1rem $color-secondary-light;

    @media only screen and (max-width: $bp-large) {
      margin-top: auto;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.6rem;
    }

    p {
      &::before {
        content: '" ';
        font-size: 2rem;
      }

      &::after {
        content: ' "';
        font-size: 2rem;
      }
    }
  }

  &__name {
    display: inline-block;
    margin: 3rem 0 0 0;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;

    span {
      display: block;
      margin-top: 0.3rem;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}
