.header {
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.4rem;
    text-align: center;
  }

  &__title {
    padding: 0.5rem;
    margin: 3.5rem;

    @media only screen and (max-width: $bp-smallest) {
      margin: 7.5rem 0;
      padding: 0;
    }

    h1 {
      @media only screen and (max-width: $bp-smallest) {
        padding: 0;
        margin: 0;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1.5rem 0;
    padding: 1rem 2rem;

    @media only screen and (max-width: $bp-small) {
      padding: 5rem 2rem 1rem 2rem;
    }

    ul {
      @media only screen and (max-width: $bp-small) {
        width: 100%;
        justify-content: space-around;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: 0.5rem;
      margin: 0 1rem;
      border-bottom: 2px solid transparent;
      overflow: hidden;
      color: $color-font-dark;
      font-size: 1.5rem;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      border-bottom: 2px solid $color-quartenery;
    }

    @media only screen and (max-width: $bp-medium) {
      &:link,
      &:visited {
        letter-spacing: 0.25rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      &:link,
      &:visited {
        margin: 0 4rem;
      }
    }
    @media only screen and (max-width: $bp-smallest) {
      &:link,
      &:visited {
        margin: 0 auto;
      }
    }
  }
}

.slider {
  &__container {
    position: relative;

    &--img {
      width: 100%;
    }

    &--text {
      width: 50%;

      @media only screen and (max-width: $bp-small) {
        display: none;
      }
    }
  }

  &__img {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 1s ease-in-out;
    z-index: 1;
  }

  &__img img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
  }

  &__btn {
    position: absolute;
    top: 50%;
    padding: 1rem 2rem;
    border: none;
    background-color: rgba($color-tertiary, 0.1);
    text-shadow: 0 0 0.2rem $color-secondary;
    cursor: pointer;
    color: $color-quartenery;
    font-size: 2rem;
    transform: translateY(-50%);
    transition: background-color 0.1s;
    z-index: 2;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &:hover,
    &:active {
      background-color: rgba($color-tertiary, 0.15);
    }
  }

  &__highlight {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, $color-primary);
  }

  &__text {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.2rem 1.6rem;
    opacity: 0;
    visibility: hidden;
    font-size: 1.5rem;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;

    &::after {
      height: 2px;
      width: 4rem;
      margin-top: 0.5rem;
      transform: translateX(-1.5rem);

      @include pseudoLine;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.2rem;
      margin-top: 1%;
    }
  }

  &__dots {
    position: absolute;
    top: 0;
    left: 50%;
    margin: 1rem 0;
    transform: translateX(-50%);
  }

  &__dot {
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    margin: 0 0.4rem;
    border: 1px solid $color-tertiary;
    border-radius: 50%;
    background-color: $color-secondary;
    transition: background-color 0.8s ease-in-out;

    &--active {
      background-color: $color-quartenery;
    }
  }

  &__hero {
    &--1 {
      object-position: left;
      @media only screen and (max-width: $bp-small) {
        object-position: center;
      }
    }
  }
}
