.service {
  &__title {
    display: inline-block;
    width: 16%;
    margin: 0 auto;

    @media only screen and (max-width: $bp-large) {
      width: 21%;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 30%;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 80%;
    }

    &::after {
      width: 100%;
      height: 2px;
      margin-top: 1rem;

      @include pseudoLine;
    }
  }

  &__content {
    display: grid;
    column-gap: 5rem;
    grid-template-columns: max-content minmax(20%, 1fr) 1fr;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr 1fr;
      row-gap: 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-top: 2rem;
      grid-template-columns: 1fr;
    }
  }

  &__designs {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    padding: 0 2rem;
    list-style: none;
    border-left: 2px solid $color-tertiary-light;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / span 2;
      flex-direction: row;
      align-items: center;
      padding: 0 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      padding: 0;
      border-left: none;
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    @media only screen and (max-width: $bp-service-break-large) {
      flex-wrap: wrap;
    }
  }

  &__design {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.5s;

    @media only screen and (max-width: $bp-medium) {
      flex: 1 0;
      font-size: 1.8rem;
      text-align: center;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: $bp-service-break-large) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-service-break-small) {
      font-size: 1.6rem;
    }

    &--active {
      color: $color-quartenery;
    }
  }

  &__texts {
    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-row: 4 / span 1;
    }
  }

  &__text {
    display: none;
    padding-right: 2rem;
    border-right: 2px solid $color-tertiary-light;
    font-size: 1.6rem;
    line-height: 3rem;
    text-align: right;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.4rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding-right: 0;
      border-right: none;
      text-align: justify;
    }
  }

  &__composition {
    // margin-top: -4rem;
    box-shadow: inset 0 0 10rem $color-tertiary-light,
      0 0 1.5rem $color-tertiary-light;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }
  }

  &__images {
    display: none;
    grid-template-rows: repeat(5, 6rem);
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    width: 100%;
    height: 100%;

    &--environment {
      grid-template-areas:
        "g2 g2 g3 g3 g3"
        "g2 g2 g3 g3 g3"
        "g2 g2 g3 g3 g3"
        "g2 g2 g1 g1 g1"
        "g2 g2 g1 g1 g1";
    }

    &--character {
      grid-template-areas:
        "g1 g1 g1 g2 g2"
        "g1 g1 g1 g2 g2"
        "g3 g3 g3 g2 g2"
        "g3 g3 g3 g2 g2"
        "g3 g3 g3 g2 g2";

      @media only screen and (max-width: $bp-smallest) {
        grid-template-areas:
          "g1 g1 g1 g2 g2"
          "g1 g1 g1 g2 g2"
          "g1 g1 g1 g2 g2"
          "g3 g3 g3 g2 g2"
          "g3 g3 g3 g2 g2";
      }

      @media only screen and (max-width: $bp-service-break-large) {
        grid-template-areas:
          "g1 g1 g1 g2 g2"
          "g1 g1 g1 g2 g2"
          "g3 g3 g3 g2 g2"
          "g3 g3 g3 g2 g2"
          "g3 g3 g3 g2 g2";
      }
    }

    &--creature {
      grid-template-areas:
        "g3 g3 g3 g3 g3"
        "g3 g3 g3 g3 g3"
        "g1 g1 g2 g2 g2"
        "g1 g1 g2 g2 g2"
        "g1 g1 g2 g2 g2";
    }

    &--vehicle {
      grid-template-areas:
        "g2 g2 g2 g1 g1"
        "g2 g2 g2 g1 g1"
        "g2 g2 g2 g1 g1"
        "g3 g3 g3 g3 g3"
        "g3 g3 g3 g3 g3";
    }

    &--props {
      grid-template-areas:
        "g2 g2 g2 g3 g3"
        "g2 g2 g2 g3 g3"
        "g2 g2 g2 g3 g3"
        "g2 g2 g2 g3 g3"
        "g2 g2 g2 g1 g1";
    }

    &:hover .service__image:not(:hover) {
      transform: scale(0.95);
      filter: brightness(0.9);
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    filter: brightness(0.95);
    transition: transform 0.2s, filter 0.2s;

    @media only screen and (hover: none) {
      &:active {
        transform: scale(1.05);
        filter: brightness(1);
        box-shadow: 0 0.5rem 1rem rgba($color-dark-1, 0.15);
      }
    }

    &:hover {
      transform: scale(1.05);
      filter: brightness(1);
      box-shadow: 0 0.5rem 1rem rgba($color-dark-1, 0.15);
    }

    &--env-1 {
      grid-area: g1;
      object-position: right;
    }

    &--env-2 {
      grid-area: g2;
    }

    &--env-3 {
      grid-area: g3;
      object-position: left;
    }

    &--char-1 {
      grid-area: g1;
      object-position: top;
    }

    &--char-2 {
      grid-area: g2;
      object-position: right;

      @media only screen and (max-width: $bp-smallest) {
        object-position: top right;
      }

      @media only screen and (max-width: $bp-service-break-large) {
        object-position: right;
      }
    }

    &--char-3 {
      grid-area: g3;
      object-position: top;
    }

    &--cre-1 {
      grid-area: g1;
    }

    &--cre-2 {
      grid-area: g2;

      @media only screen and (max-width: $bp-large) {
        object-position: left;
      }
    }

    &--cre-3 {
      grid-area: g3;
      object-position: top;
    }

    &--vic-1 {
      grid-area: g1;
    }

    &--vic-2 {
      grid-area: g2;
    }

    &--vic-3 {
      grid-area: g3;
    }

    &--props-1 {
      grid-area: g1;
    }

    &--props-2 {
      grid-area: g2;
      object-position: top;
    }

    &--props-3 {
      grid-area: g3;
      @media only screen and (max-width: $bp-large) {
        object-position: left;
      }
      @media only screen and (max-width: $bp-smallest) {
        object-position: top left;
      }

      @media only screen and (max-width: $bp-service-break-large) {
        object-position: left;
      }
    }
  }

  &__bar {
    grid-column: 1 / 2;
    width: 92.5%;
    background-color: $color-tertiary-dark;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 1 / span 2;
      width: 100%;
    }

    @media only screen and (max-width: $bp-smallest) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  }

  &__progress {
    display: block;
    height: 2px;
    width: 100%;
    opacity: 0;
    background-color: $color-quartenery;
    transform-origin: left;
  }
}
