.container {
  display: grid;
  grid-template-rows: 100vh;
  justify-items: center;
}

.header {
  position: relative;
  width: 100%;
  background-image: url("../img/bg-header.png");
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  width: 100%;
  padding: 0 2rem;
  letter-spacing: 3px;
  font-family: "Montserrat", sans-serif;
}

.about {
  display: none;
  width: 100%;
  max-width: 190rem;

  position: relative;
  padding: 15rem 0 8rem 0;
  margin-top: 5rem;

  display: grid;
  align-items: start;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(12, auto);

  @media only screen and (max-width: $bp-medium) {
    padding: 15rem 0 5rem 0;
    margin-top: 0;
  }

  @media only screen and (max-width: $bp-about-break) {
    grid-template-rows: repeat(6, minmax(20px, auto)) repeat(6, auto);
  }
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  padding: 9rem 10rem 10rem 10rem;
  border-top: 2px solid $color-tertiary-dark;
  border-bottom: none;
  background-image: url("../img/bg-service.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-tertiary;
  color: $color-font-light;
  font-family: "Montserrat", sans-serif;

  @media only screen and (max-width: $bp-largest) {
    padding: 9rem 8rem 10rem 8rem;
  }

  @media only screen and (max-width: $bp-large) {
    padding: 9rem 6rem 10rem 6rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 9rem 3rem 10rem 3rem;
  }
}

.art {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9rem 0 0 0;
  background-image: url("../img/bg-art.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: $color-secondary;
  color: $color-font-light;
  font-family: "Montserrat", sans-serif;
}

.client {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 6rem 10rem 8rem 10rem;
  border-bottom: 2px solid $color-tertiary-dark;
  border-top: none;
  background-image: url("../img/bg-client.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-tertiary-light;
  color: $color-font-light;
  font-family: "Montserrat", sans-serif;

  @media only screen and (max-width: $bp-largest) {
    padding: 6rem 8rem 8rem 8rem;
  }

  @media only screen and (max-width: $bp-large) {
    padding: 6rem 6rem 8rem 6rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 6rem 3rem 8rem 3rem;
  }
}

.contact {
  width: 100%;
  max-width: 190rem;
  padding: 13rem 13rem 8rem 13rem;
  background-image: url("../img/bg-contact.png");
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;

  @media only screen and (max-width: $bp-largest) {
    padding: 13rem 10rem 8rem 10rem;
  }

  @media only screen and (max-width: $bp-large) {
    padding: 13rem 8rem 8rem 8rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 11rem 8rem 8rem 8rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 10rem 8rem 4rem 8rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 10rem 3rem 4rem 3rem;
  }
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem 3.5rem 2rem;
  gap: 3rem;
  border-top: 2px solid $color-tertiary-dark;
  border-bottom: 2px solid $color-tertiary-dark;
  background-color: $color-tertiary;
  color: $color-font-light;
  font-family: "Montserrat", sans-serif;

  @media only screen and (max-width: $bp-smallest) {
    flex-direction: column;
  }
}

.section-wrapper {
  width: 100%;
  max-width: 155rem;

  &--client {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    column-gap: 5rem;
  }

  &--service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
