.footer {
  &__nav {
    list-style: none;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      margin: 0 1.5rem;
      color: $color-font-light;
      font-size: 1.4rem;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-quartenery;
    }

    @media only screen and (max-width: $bp-smallest) {
      &:link,
      &:visited {
        margin: 0 2rem;
      }
    }
  }
}

.copyright {
  font-size: 1.4rem;
}
