*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1 rem = 10px
  scroll-behavior: smooth;

  @include scrollTemplate();

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 43.75%;
  }
}

body {
  // overflow-x: hidden;
  background-color: $color-primary;
  color: $color-font-dark;
}

img {
  font-size: 1.2rem;
  object-fit: cover;
  object-position: center;
}

::selection {
  background-color: $color-quartenery;
  color: $color-primary;
}
