@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin pseudoLine {
  content: "";
  display: block;
  background-color: $color-quartenery;
}

@mixin scrollTemplate {
  // Scrollbar ---
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /*Firefox*/

  /*Firefox*/
  scrollbar-width: thin;
  scrollbar-color: $color-tertiary $color-primary;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 0.55vw;
  }

  &::-webkit-scrollbar-track {
    background: $color-primary;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-tertiary;
  }
  // --- Scrollbar
}
