// COLORS
$color-primary: #f7f7f7;
$color-quartenery: #f8b500;

$color-secondary: #393e46;
$color-secondary-dark: #2a2d33;
$color-secondary-light: #484f59;

$color-tertiary: #5c636e;
$color-tertiary-dark: #4d525c;
$color-tertiary-light: #6b7480;

$color-light-1: #fff;
$color-light-2: rgb(240, 240, 240);
$color-light-3: rgb(230, 230, 230);
$color-dark-1: #000;
$color-dark-2: rgb(15, 15, 15);

$color-highlight: #1f1f1f;
$color-font-dark: rgb(25, 25, 25);
$color-font-light: #fff;

// BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 52.8125em; //845px
$bp-small: 43.75em; //700px
$bp-smallest: 37.5em; //600px

$bp-about-text-break: 81.25em; //1400px
$bp-popup-break: 34.375em; //550px
$bp-art-break: 28.125em; //450px
$bp-client-break: 25em; //400px
$bp-service-break-large: 28.125em; //450px
$bp-service-break-small: 23.75em; //380px
$bp-about-break: 34.375em; //550px
