.container {
  display: grid;
  grid-template-rows: 100vh;
}

.header {
  position: relative;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.about {
  padding: 8rem 13rem;
  margin-top: 6rem;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8rem;
  padding: 6rem 10rem 10rem 10rem;
  border: 2px solid $color-tertiary-dark;
  border-bottom: none;
  background-color: $color-tertiary;
  color: $color-font-light;
}

.client {
  padding: 6rem 10rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
  column-gap: 5rem;
  border: 2px solid $color-tertiary-dark;
  border-top: none;
  background-color: $color-tertiary-light;
  color: $color-font-light;
}

.art {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 0 0;
  border-bottom: 2px solid $color-secondary-light;
  background-color: $color-secondary;
  color: $color-font-light;
}

.contact {
  padding: 8rem 13rem;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem 3.5rem 2rem;
  gap: 3rem;
  border: 2px solid $color-tertiary-dark;
  background-color: $color-tertiary;
  color: $color-font-light;
  font-family: "Montserrat", sans-serif;
}
